chromadb
ipykernel
langchain
langchain-core
langchain-community
langchain-text-splitters
numpy<2.0.0
pymupdf
pypdf
sentence-transformers<4.0.0
langchain-huggingface
torch==2.2.2
transformers<5.0.0
onnxruntime<1.24.0
langchain-groq